# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc


# Sphinx documentation
docs/_build/

# IPython notebooks
.ipynb_checkpoints/

# PyCharm
.idea

#PyPI account information
.pypirc
algebraixlib.egg-info

# Build artifacts
build/
dist/

# Test artifacts
.coverage
